
* {
    box-sizing: border-box;
    
  }

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: auto;
  }

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 9px;
}

.nav {
    float: left;
    width: 100px;
    padding: 20px;
    overflow: hidden;
    background-color: #f1f1f1;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.main {
    float: left;
    width: 70%;
    padding: 20px;
    background-color: #fff;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 50%;
    float: left;
    margin-right: 20px;
}

/* Small and up (Landscape Phones) */
@media (min-width: 576px) {


    .main {
    width: 40%;
    }


}

