* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #d4e2f9;
    background-size: cover;
    height: 100%;
}

button {

}

img {
    width: 100px;
    height: 100px;
}