button {
   background-color: #fff;
   border: 1px solid #c0e6ff;
   padding: 10px;
   color: #c0e6ff;
   text-align: center;
   transition-duration: 0.4s;
}

button:hover {
    background-color: #c0e6ff;
    color: #fff;
}

#myLoc p{
    margin: 2%;
    padding: 5px;
}
